<div class="mb-2">
  <span class="mat-h1">Relatório</span>
</div>

<form [formGroup]="form" class="flex-form">

  <div class="ocupy flex">
    <img class="pic-preview" src="{{ logo1Blob }}">
    <div class="flex-upload">
      <mat-form-field>
        <mat-label>Logo 1</mat-label>
        <input matInput type="text" placeholder="Logo 1" disabled [value]="logo1.files?.item(0)?.name">
      </mat-form-field>
      <button type="button" mat-flat-button color="primary" (click)="logo1.click()">
        <mat-icon>attach_file</mat-icon>Anexar
      </button>
      <input hidden type="file" accept="image/*" #logo1 (change)="chooseLogo1($event)">
    </div>
  </div>

  <div class="ocupy flex">
    <img class="pic-preview" src="{{ logo2Blob }}">
    <div class="flex-upload">
      <mat-form-field>
        <mat-label>Logo 2</mat-label>
        <input matInput type="text" placeholder="Logo 2" disabled [value]="logo2.files?.item(0)?.name">
      </mat-form-field>
      <button type="button" mat-flat-button color="primary" (click)="logo2.click()">
        <mat-icon>attach_file</mat-icon>Anexar
      </button>
      <input hidden type="file" accept="image/*" #logo2 (change)="chooseLogo2($event)">
    </div>
  </div>

  <mat-form-field class="ocupy">
    <mat-label>Texto principal</mat-label>
    <textarea matInput placeholder="Texto principal" formControlName="text" rows="5"></textarea>
  </mat-form-field>

  <mat-form-field class="">
    <mat-label>Assinatura 1</mat-label>
    <input matInput type="text" placeholder="Assinatura 1" formControlName="sign1">
  </mat-form-field>

  <mat-form-field class="">
    <mat-label>Assinatura 2</mat-label>
    <input matInput type="text" placeholder="Assinatura 2" formControlName="sign2">
  </mat-form-field>

  <mat-form-field class="ocupy">
    <mat-label>API</mat-label>
    <input matInput type="text" placeholder="API" formControlName="api">
  </mat-form-field>

</form>

<div class="bottom-form">
  <span class="toolbar-spacer"></span>
  <button mat-raised-button color="primary" (click)="saveDataReport()">Salvar</button>
</div>

<div *ngIf="!apiEnabled">
  <div class="mb-2">
    <span class="mat-h1">Backup e Restore</span>
  </div>

  <div class="mb-2">
    <span class="mat-h2">Backup</span>
  </div>
  <button mat-raised-button color="primary" class="mb-2" (click)="onBackup()">Clique para realizar o backup</button>

  <div class="mb-2">
    <span class="mat-h2">Limpar Banco de dados</span>
  </div>
  <button mat-raised-button color="warn" class="mb-2" (click)="onClear()">Clique para LIMPAR o banco
    completamente</button>

  <div class="mb-2">
    <span class="mat-h2">Restauração</span>
  </div>

  <div>
    <mat-form-field style="width: 200px;">
      <mat-label>Arquivo</mat-label>
      <input matInput type="text" placeholder="Arquivo" readonly [value]="file.files?.item(0)?.name"
        (click)="file.click()">
    </mat-form-field>
    <button type="button" mat-flat-button color="accent" class="ml-2" (click)="onRestore()">Restaurar</button>
    <input hidden type="file" accept="application/JSON" #file (change)="onChooseFile($event)">
  </div>
</div>