<div class="form-view">

  <div class="header-form">
    <span class="mat-h1">{{ formState }} Nível Escolar</span>
  </div>

  <form [formGroup]="form" class="flex-form">

    <mat-form-field>
      <mat-label>Nível Escolar</mat-label>
      <input matInput type="text" placeholder="Nível Escolar" formControlName="nivelEscolar">
      <mat-error *ngIf="form.get('nivelEscolar')!.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

  </form>

  <div class="bottom-form">
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  </div>

</div>
