.datatable-panel {
  overflow-x: auto;
  scrollbar-width: none;
}

.mat-cell, .mat-header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 6px;
}

::-webkit-scrollbar {
  height: 6px;

}
