<div class="form-view">

  <div class="header-form">
    <span class="mat-h1">{{ formMode === 0 ? 'Novo' : 'Editar' }} Processo</span>
  </div>

  <form [formGroup]="form" class="flex-form">

    <mat-form-field class="">
      <mat-label>Número</mat-label>
      <input matInput type="number" placeholder="Número" formControlName="numero">
      <mat-error *ngIf="form.controls.numero.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Instituição</mat-label>
      <input matInput type="text" placeholder="Instituição" formControlName="instituicao" [matAutocomplete]="autoInstituicao">

      <mat-autocomplete autoActiveFirstOption #autoInstituicao="matAutocomplete"
        [displayWith]="displayAuto('instituicao')">
        <mat-option *ngFor="let option of instituicao$ | async" [value]="option">
          {{ option.instituicao }}
        </mat-option>
      </mat-autocomplete>
      <mat-error
        *ngIf="!form.controls.instituicao.hasError('required') && form.controls.instituicao.hasError('invalidAutocomplete')">
        Valor selecionado é inválido.
      </mat-error>
      <mat-error *ngIf="form.controls.instituicao.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

  </form>

  <div class="bottom-form">
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="navigateToTable()" class="ml-2">Cancelar</button>
  </div>

</div>
