<div class="header-view">
  <div>
    <span class="mat-h1">Nível Escolar</span>
  </div>
  <mat-divider vertical></mat-divider>
  <span class="toolbar-spacer"></span>
  <div>
    <button mat-raised-button color="primary" routerLink="/nivelescolar/create">Novo Registro</button>
    <button mat-raised-button color="accent" class="ml-2" [matMenuTriggerFor]="optMenu">
      <mat-icon>tune</mat-icon>
    </button>
    <mat-menu #optMenu="matMenu">
      <button mat-menu-item (click)="isEnabledFilter = !isEnabledFilter">
        <mat-icon>filter_alt</mat-icon>
        <span>Filtros</span>
      </button>
    </mat-menu>
  </div>
</div>

<mat-form-field appearance="standard" *ngIf="isEnabledFilter">
  <mat-label>Filtrar por</mat-label>
  <mat-icon matSuffix>filter_alt</mat-icon>
  <input matInput placeholder="" #input (keyup)="applyFilter($event)">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- nivelEscolar Column -->
  <ng-container matColumnDef="nivelEscolar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nível Escolar</th>
    <td mat-cell *matCellDef="let element">{{element.nivelEscolar}}</td>
  </ng-container>

  <!-- createdAt Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Criado em</th>
    <td mat-cell *matCellDef="let element">{{element.createdAt | date : 'short' : '' : 'pt-BR'}}</td>
  </ng-container>

  <!-- updatedAt Column -->
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Atualizado em</th>
    <td mat-cell *matCellDef="let element">{{element.updatedAt | date : 'short' : '' : 'pt-BR'}}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="onUpdate(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-progress-bar mode="indeterminate" *ngIf="isLoadingData"></mat-progress-bar>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
