<div class="form-view">

  <div class="header-form">
    <span class="mat-h1">{{ formMode === 0 ? 'Novo' : 'Editar' }} Professor</span>
  </div>

  <form [formGroup]="form" class="flex-form">

    <mat-form-field class="ocupy3">
      <mat-label>Nome</mat-label>
      <input matInput type="text" placeholder="Nome" formControlName="nome">
      <mat-error *ngIf="form.controls.nome.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nascimento</mat-label>
      <input matInput type="date" placeholder="Nascimento" formControlName="nascimento">
      <mat-error *ngIf="form.controls.nascimento.hasError('required')">
        Campo é requerido.
      </mat-error>
      <mat-error *ngIf="form.controls.nascimento.hasError('pattern')">
        Formato inválido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Naturalidade</mat-label>
      <input matInput type="text" placeholder="Naturalidade" formControlName="naturalidade"
        [matAutocomplete]="autoNaturalidade">
      <mat-autocomplete autoActiveFirstOption #autoNaturalidade="matAutocomplete" [displayWith]="displayAuto('nome')">
        <mat-option *ngFor="let option of naturalidade$ | async" [value]="option">
          {{ option.nome }}
        </mat-option>
      </mat-autocomplete>


      <mat-error *ngIf="form.controls.naturalidade.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput type="number" placeholder="CPF" formControlName="cpf">
      <mat-error *ngIf="form.controls.cpf.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>RG</mat-label>
      <input matInput type="number" placeholder="RG" formControlName="rg">
      <mat-error *ngIf="form.controls.rg.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Orgão Emissor</mat-label>
      <input matInput type="text" placeholder="Orgão Emissor" formControlName="orgaoEmissor">
      <mat-error *ngIf="form.controls.orgaoEmissor.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <fieldset class="ocupy flex-form" formGroupName="endereco">

      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput type="number" placeholder="CEP" formControlName="cep" #cep>
      </mat-form-field>

      <mat-form-field class="ocupy3">
        <mat-label>Rua</mat-label>
        <input matInput type="text" placeholder="Rua, avenida, logradouro, etc." formControlName="rua">
        <mat-error *ngIf="form.controls.endereco.controls.rua.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput type="number" placeholder="Número" formControlName="numero">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput type="text" placeholder="Bairro" formControlName="bairro">
        <mat-error *ngIf="form.controls.endereco.controls.bairro.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado</mat-label>

        <input matInput type="text" placeholder="Estado" formControlName="uf" [matAutocomplete]="autoUf">
        <mat-autocomplete autoActiveFirstOption #autoUf="matAutocomplete" [displayWith]="displayAuto('nome')">
          <mat-option *ngFor="let option of ufs$ | async" [value]="option">
            {{ option.nome }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="form.controls.endereco.controls.uf.hasError('required')">
          Campo é requerido.
        </mat-error>
        <mat-error
          *ngIf="!form.controls.endereco.controls.uf.hasError('required') && form.controls.endereco.controls.uf.hasError('invalidAutocomplete')">
          Valor selecionado é inválido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Município</mat-label>
        <input matInput type="text" placeholder="Município" formControlName="municipio"
          [matAutocomplete]="autoMunicipio">
        <mat-autocomplete autoActiveFirstOption #autoMunicipio="matAutocomplete" [displayWith]="displayAuto('nome')">
          <mat-option *ngFor="let option of municipios$ | async" [value]="option">
            {{ option.nome }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="form.controls.endereco.controls.municipio.hasError('required')">
          Campo é requerido.
        </mat-error>
        <mat-error
          *ngIf="!form.controls.endereco.controls.municipio.hasError('required') && form.controls.endereco.controls.municipio.hasError('invalidAutocomplete')">
          Valor selecionado é inválido.
        </mat-error>
      </mat-form-field>

    </fieldset>

    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput type="number" placeholder="Telefone" formControlName="telefone" maxlength="11">
      <mat-error *ngIf="form.controls.telefone.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Celular</mat-label>
      <input matInput type="number" placeholder="Celular" formControlName="celular" maxlength="11">
      <mat-error *ngIf="form.controls.celular.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ocupy2">
      <mat-label>Pai</mat-label>
      <input matInput type="text" placeholder="Pai" formControlName="pai">
      <mat-error *ngIf="form.controls.pai.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ocupy2">
      <mat-label>Mãe</mat-label>
      <input matInput type="text" placeholder="Mãe" formControlName="mae">
      <mat-error *ngIf="form.controls.mae.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ocupy2">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" placeholder="E-mail" formControlName="email">
      <mat-error *ngIf="form.get('email')!.hasError('required')">
        Campo é requerido.
      </mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">
        E-mail inválido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número da CNH</mat-label>
      <input matInput type="text" placeholder="Número da CNH" formControlName="numeroCNH">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria da CNH</mat-label>
      <mat-select formControlName="categoriaCNH" multiple>
        <mat-select-trigger>
          {{ form.controls.categoriaCNH.value?.[0] || '' }}
          <span *ngIf="(form.controls.categoriaCNH.value?.length || 0) > 1" class="select-additional-selection">
            (+{{(form.controls.categoriaCNH.value?.length || 0) - 1}} {{form.controls.categoriaCNH.value?.length === 2 ?
            'outro' : 'outros'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let categoria of categoriasCNH" [value]="categoria">{{categoria}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-upload">
      <mat-form-field>
        <mat-label>Foto</mat-label>
        <input matInput type="text" placeholder="Foto" disabled [value]="photo.files?.item(0)?.name">
      </mat-form-field>
      <button type="button" mat-flat-button color="primary" (click)="photo.click()">
        <mat-icon>attach_file</mat-icon>Anexar
      </button>
      <input hidden type="file" accept="image/*" #photo (change)="onChooseFile($event)">
    </div>

    <div class="ocupy">
      <img src="{{ imageBuf }}">
    </div>


    <!-- <div class="mat-form-field">
      <mat-label>Foto</mat-label>
      <button type="button" md-button >Add a photo</button>
      <input hidden type="file" #imgFileInput (change)="choosedFile($event)"/>
    </div> -->

  </form>

  <div class="bottom-form">
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="navigateToTable()" class="ml-2">Cancelar</button>
  </div>

</div>
