<mat-drawer-container class="main-menu" autosize>

  <mat-drawer #sideNav class="sidenav" mode="side" [opened]="true">

    <mat-nav-list>
      <div mat-subheader>Menu Principal</div>

      <a mat-list-item routerLink="processo" routerLinkActive="active">
        <mat-icon mat-list-icon>account_tree</mat-icon>
        <span mat-line>Processo</span>
      </a>
      <a mat-list-item routerLink="autorizacao" routerLinkActive="active">
        <mat-icon mat-list-icon>workspace_premium</mat-icon>
        <span mat-line>Autorização</span>
      </a>
      <a mat-list-item routerLink="instituicao" routerLinkActive="active">
        <mat-icon mat-list-icon>domain</mat-icon>
        <div mat-line>Instituição</div>
      </a>
      <a mat-list-item routerLink="professor" routerLinkActive="active">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>Professor</div>
      </a>
      <a mat-list-item routerLink="nivelescolar" routerLinkActive="active">
        <mat-icon mat-list-icon>school</mat-icon>
        <span mat-line>Nível Escolar</span>
      </a>
    </mat-nav-list>

  </mat-drawer>

  <div class="sidenav-content">

    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Botão Menu" (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SAUTE</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button aria-label="Botão Sobre">
        <mat-icon>info</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <mat-card class="card-router-outlet">
        <router-outlet></router-outlet>
      </mat-card>

      <div class="toolbar-spacer"></div>

      <div class="footer">
        &copy; {{ 2022 }} — <strong>SAUTE</strong>. Developed by <a href="https://ailtonbsj.github.io"
          target="_blank">ailton bsj</a>
      </div>
    </div>

  </div>

</mat-drawer-container>
