<div class="form-view">

  <div class="header-form">
    <span class="mat-h1">{{ formMode === 0 ? 'Nova' : 'Editar' }} Instituição</span>
  </div>

  <form [formGroup]="form" class="flex-form">

    <mat-form-field class="ocupy3">
      <mat-label>Instituição</mat-label>
      <input matInput type="text" placeholder="Instituição" formControlName="instituicao">
      @if (form.controls.instituicao.hasError('required')) {
        <mat-error>
          Campo é requerido.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nível Escolar</mat-label>
      <input type="text" placeholder="Nível Escolar" matInput formControlName="nivelEscolar"
        [matAutocomplete]="autoNivelEscolar">

      <mat-autocomplete autoActiveFirstOption #autoNivelEscolar="matAutocomplete"
        [displayWith]="displayAuto('nivelEscolar')">
        @for (option of nivelEscolar$ | async; track option) {
          <mat-option [value]="option">
            {{ option.nivelEscolar }}
          </mat-option>
        }
      </mat-autocomplete>

      @if (form.controls.nivelEscolar.hasError('required')) {
        <mat-error>
          Campo é requerido.
        </mat-error>
      }
      @if (!form.controls.nivelEscolar.hasError('required') && form.controls.nivelEscolar.hasError('invalidAutocomplete')) {
        <mat-error
          >
          Valor selecionado é inválido.
        </mat-error>
      }
    </mat-form-field>

    <fieldset class="ocupy flex-form" formGroupName="endereco">

      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput type="number" placeholder="CEP" formControlName="cep" #cep>
      </mat-form-field>

      <mat-form-field class="ocupy3">
        <mat-label>Rua</mat-label>
        <input matInput type="text" placeholder="Rua, avenida, logradouro, etc." formControlName="rua">
        @if (form.controls.endereco.controls.rua.hasError('required')) {
          <mat-error>
            Campo é requerido.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput type="number" placeholder="Número" formControlName="numero">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput type="text" placeholder="Bairro" formControlName="bairro">
        @if (form.controls.endereco.controls.bairro.hasError('required')) {
          <mat-error>
            Campo é requerido.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado</mat-label>

        <input matInput type="text" placeholder="Estado" formControlName="uf" [matAutocomplete]="autoUf">
        <mat-autocomplete autoActiveFirstOption #autoUf="matAutocomplete" [displayWith]="displayAuto('nome')">
          @for (option of ufs$ | async; track option) {
            <mat-option [value]="option">
              {{ option.nome }}
            </mat-option>
          }
        </mat-autocomplete>

        @if (form.controls.endereco.controls.uf.hasError('required')) {
          <mat-error>
            Campo é requerido.
          </mat-error>
        }
        @if (!form.controls.endereco.controls.uf.hasError('required') && form.controls.endereco.controls.uf.hasError('invalidAutocomplete')) {
          <mat-error
            >
            Valor selecionado é inválido.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Município</mat-label>
        <input matInput type="text" placeholder="Município" formControlName="municipio"
          [matAutocomplete]="autoMunicipio">
        <mat-autocomplete autoActiveFirstOption #autoMunicipio="matAutocomplete" [displayWith]="displayAuto('nome')">
          @for (option of municipios$ | async; track option) {
            <mat-option [value]="option">
              {{ option.nome }}
            </mat-option>
          }
        </mat-autocomplete>

        @if (form.controls.endereco.controls.municipio.hasError('required')) {
          <mat-error>
            Campo é requerido.
          </mat-error>
        }
        @if (!form.controls.endereco.controls.municipio.hasError('required') && form.controls.endereco.controls.municipio.hasError('invalidAutocomplete')) {
          <mat-error
            >
            Valor selecionado é inválido.
          </mat-error>
        }
      </mat-form-field>

    </fieldset>

    <mat-form-field class="ocupy2">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" placeholder="E-mail" formControlName="email">
      @if (form.get('email')!.hasError('required')) {
        <mat-error>
          Campo é requerido.
        </mat-error>
      }
      @if (form.get('email')!.hasError('email')) {
        <mat-error>
          E-mail inválido.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dependência</mat-label>
      <input matInput type="text" placeholder="Dependência" formControlName="dependencia">
      @if (form.get('dependencia')!.hasError('required')) {
        <mat-error>
          Campo é requerido.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Entidade</mat-label>
      <input matInput type="text" placeholder="Entidade" formControlName="entidade">
      @if (form.get('entidade')!.hasError('required')) {
        <mat-error>
          Campo é requerido.
        </mat-error>
      }
    </mat-form-field>

    <fieldset class="ocupy flex-form">

      <mat-form-field>
        <mat-label>Credenciamento</mat-label>
        <input matInput type="text" placeholder="Credenciamento" formControlName="credenciamento">
        @if (form.get('credenciamento')!.hasError('required')) {
          <mat-error>
            Campo é requerido.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Validade de Credenciamento</mat-label>
        <input matInput type="date" placeholder="Validade de Credenciamento" formControlName="validadeCredenciamento">
        @if (form.get('validadeCredenciamento')!.hasError('required')) {
          <mat-error>
            Campo é requerido.
          </mat-error>
        }
        @if (form.controls.validadeCredenciamento.hasError('pattern')) {
          <mat-error>
            Formato inválido.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Recredenciamento</mat-label>
        <input matInput type="text" placeholder="Recredenciamento" formControlName="recredenciamento">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Validade de Recredenciamento</mat-label>
        <input matInput type="date" placeholder="Validade de Recredenciamento" formControlName="validadeRecredenciamento">
        @if (form.controls.validadeRecredenciamento.hasError('pattern')) {
          <mat-error>
            Formato inválido.
          </mat-error>
        }
      </mat-form-field>

    </fieldset>

  </form>

  <div class="bottom-form">
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="navigateToTable()" class="ml-2">Cancelar</button>
  </div>

</div>
