<div class="form-view">

  <div class="header-form">
    <span class="mat-h1">{{ formMode === 0 ? 'Nova' : 'Editar' }} Instituição</span>
  </div>

  <form [formGroup]="form" class="flex-form">

    <mat-form-field class="ocupy3">
      <mat-label>Instituição</mat-label>
      <input matInput type="text" placeholder="Instituição" formControlName="instituicao">
      <mat-error *ngIf="form.controls.instituicao.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nível Escolar</mat-label>
      <input type="text" placeholder="Nível Escolar" matInput formControlName="nivelEscolar"
        [matAutocomplete]="autoNivelEscolar">

      <mat-autocomplete autoActiveFirstOption #autoNivelEscolar="matAutocomplete"
        [displayWith]="displayAuto('nivelEscolar')">
        <mat-option *ngFor="let option of nivelEscolar$ | async" [value]="option">
          {{ option.nivelEscolar }}
        </mat-option>
      </mat-autocomplete>

      <mat-error *ngIf="form.controls.nivelEscolar.hasError('required')">
        Campo é requerido.
      </mat-error>
      <mat-error
        *ngIf="!form.controls.nivelEscolar.hasError('required') && form.controls.nivelEscolar.hasError('invalidAutocomplete')">
        Valor selecionado é inválido.
      </mat-error>
    </mat-form-field>

    <fieldset class="ocupy flex-form" formGroupName="endereco">

      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput type="number" placeholder="CEP" formControlName="cep" #cep>
      </mat-form-field>

      <mat-form-field class="ocupy3">
        <mat-label>Rua</mat-label>
        <input matInput type="text" placeholder="Rua, avenida, logradouro, etc." formControlName="rua">
        <mat-error *ngIf="form.controls.endereco.controls.rua.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput type="number" placeholder="Número" formControlName="numero">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput type="text" placeholder="Bairro" formControlName="bairro">
        <mat-error *ngIf="form.controls.endereco.controls.bairro.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado</mat-label>

        <input matInput type="text" placeholder="Estado" formControlName="uf" [matAutocomplete]="autoUf">
        <mat-autocomplete autoActiveFirstOption #autoUf="matAutocomplete" [displayWith]="displayAuto('nome')">
          <mat-option *ngFor="let option of ufs$ | async" [value]="option">
            {{ option.nome }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="form.controls.endereco.controls.uf.hasError('required')">
          Campo é requerido.
        </mat-error>
        <mat-error
          *ngIf="!form.controls.endereco.controls.uf.hasError('required') && form.controls.endereco.controls.uf.hasError('invalidAutocomplete')">
          Valor selecionado é inválido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Município</mat-label>
        <input matInput type="text" placeholder="Município" formControlName="municipio"
          [matAutocomplete]="autoMunicipio">
        <mat-autocomplete autoActiveFirstOption #autoMunicipio="matAutocomplete" [displayWith]="displayAuto('nome')">
          <mat-option *ngFor="let option of municipios$ | async" [value]="option">
            {{ option.nome }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="form.controls.endereco.controls.municipio.hasError('required')">
          Campo é requerido.
        </mat-error>
        <mat-error
          *ngIf="!form.controls.endereco.controls.municipio.hasError('required') && form.controls.endereco.controls.municipio.hasError('invalidAutocomplete')">
          Valor selecionado é inválido.
        </mat-error>
      </mat-form-field>

    </fieldset>

    <mat-form-field class="ocupy2">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" placeholder="E-mail" formControlName="email">
      <mat-error *ngIf="form.get('email')!.hasError('required')">
        Campo é requerido.
      </mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">
        E-mail inválido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dependência</mat-label>
      <input matInput type="text" placeholder="Dependência" formControlName="dependencia">
      <mat-error *ngIf="form.get('dependencia')!.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Entidade</mat-label>
      <input matInput type="text" placeholder="Entidade" formControlName="entidade">
      <mat-error *ngIf="form.get('entidade')!.hasError('required')">
        Campo é requerido.
      </mat-error>
    </mat-form-field>

    <fieldset class="ocupy flex-form">

      <mat-form-field>
        <mat-label>Credenciamento</mat-label>
        <input matInput type="text" placeholder="Credenciamento" formControlName="credenciamento">
        <mat-error *ngIf="form.get('credenciamento')!.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Valor Credenciamento</mat-label>
        <input matInput type="number" placeholder="Valor Credenciamento" formControlName="valorCredenciamento">
        <mat-error *ngIf="form.get('valorCredenciamento')!.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Recredenciamento</mat-label>
        <input matInput type="text" placeholder="Recredenciamento" formControlName="recredenciamento">
        <mat-error *ngIf="form.get('recredenciamento')!.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Valor Recredenciamento</mat-label>
        <input matInput type="number" placeholder="Valor Recredenciamento" formControlName="valorRecredenciamento">
        <mat-error *ngIf="form.get('valorRecredenciamento')!.hasError('required')">
          Campo é requerido.
        </mat-error>
      </mat-form-field>

    </fieldset>

  </form>

  <div class="bottom-form">
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="navigateToTable()" class="ml-2">Cancelar</button>
  </div>

</div>
