/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
fieldset { margin: 0; padding: 0; border: 0; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Spacers and margins */

.toolbar-spacer { flex: 1 1 auto; }
.ml-1 { margin-left: .25rem !important; }
.ml-2 { margin-left: .5rem !important; }

/* Flexform helpers */

.flex-form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  --width-field: 180px;
}

.flex-form .mat-form-field, .flex-form fieldset, .flex-form .flex-upload {
  padding: 5px;
  flex: 1 1 var(--width-field);
}

.flex-form .ocupy {
  flex-basis: calc(12 * var(--width-field));
}

.flex-form .ocupy2 {
  flex-basis: calc(2 * var(--width-field));
}

.flex-form .ocupy3 {
  flex-basis: calc(3 * var(--width-field));
}

.flex-form .ocupy4 {
  flex-basis: calc(4 * var(--width-field));
}

.flex-upload {
  display: flex;
  align-items: center;
}

/* Common styles */

.header-form {
  padding: 5px;
}

.bottom-form {
  display: flex;
  padding: 5px;
}

.select-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
