/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
fieldset { margin: 0; padding: 0; border: 0; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Spacers and margins */

.toolbar-spacer { flex: 1 1 auto; }
.ml-1 { margin-left: .25rem !important; }
.ml-2 { margin-left: .5rem !important; }
.mb-1 { margin-bottom: .25rem !important; }
.mb-2 { margin-bottom: .5rem !important; }

/* Flexform helpers */

.flex-form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  --width-field: 180px;
}

.flex-form .mat-form-field, .flex-form fieldset, .flex-form .flex-upload {
  padding: 5px;
  flex: 1 1 var(--width-field);
}

.flex-form .ocupy {
  flex-basis: calc(12 * var(--width-field));
}

.flex-form .ocupy2 {
  flex-basis: calc(2 * var(--width-field));
}

.flex-form .ocupy3 {
  flex-basis: calc(3 * var(--width-field));
}

.flex-form .ocupy4 {
  flex-basis: calc(4 * var(--width-field));
}

.flex-upload {
  display: flex;
  align-items: center;
}

.pic-preview {
  width: 200px;
  border-radius: 10px;
}

/* Flex Helpers */

.flex {
  display: flex;
}

/* Common styles */

.header-form {
  padding: 5px;
}

.bottom-form {
  display: flex;
  padding: 5px;
}

.select-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

/* Common styles DATATABLE */

.header-view {
  display: flex;
  align-items: center;
}

.header-view .mat-divider[vertical] {
  height: 45px;
  margin: 0 10px;
}

table[mat-table] {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.datatable-panel {
  overflow-x: auto;
  scrollbar-width: 6px;
}

.datatable-panel::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 6px;
}

.datatable-panel::-webkit-scrollbar {
  height: 6px;
}

td.mat-cell, th.mat-header-cell {
  padding: 0 5px !important;
}

@media print {

  .mat-drawer, .mat-toolbar, .footer {
      display: none !important;
  }

  .mat-drawer-container {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }

  .mat-drawer-content {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }
  .sidenav-content {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }

  .content {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }

  .mat-card {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }

  .mat-card {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }

}

/* Native datetime */

input[type="date"]::after {
  display: none !important;
}
